*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
img{
    filter: drop-shadow(10px 10px 20px rgb(40, 35, 35));
    -webkit-filter: drop-shadow(10px 10px 20px black);
}