#gradient{
    height:80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(rgb(104, 0, 0), rgb(254, 107, 131), blue, green, yellow);
    padding: 4px;
}

#gradient img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}